.word:hover{
  text-decoration: underline;
  color: darkblue;
  cursor: pointer;
  background-color: #eee;
}

.word-block {
  display: inline-block;
}

.word-info {
  font-size: 70%;
}

.beg-of-phrase{
  border: 1px solid green;
}

.end-of-phrase{
  border: 1px solid red;
}

.mid-of-phrase{
  border: 1px solid white;
}

.play-in-table {
  background: url(../images/play-in-table.png) no-repeat center;
  cursor: pointer;
  opacity: 0.2;
}

.play-in-table:hover{
  opacity: 0.7;
}

.num-in-table {
  font-size: 80%;
  color: gray;
}

.table-timing input{
  width: 80px;
}

.table-phrase input {
  width: 350px;
}

.playerNav {
  display: inline-block;
}

#contentTable, #textOutput {
  max-width: 45%;
  display: inline-block;
  vertical-align: top;
}
